@import '../../styles/_variables.scss';

.streaming-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-background;
  color: $primary-text;

  &.single-stream {
    flex-direction: column;
  }

  &.double-stream {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .placeholder-text {
    font-size: 2rem;
    font-weight: bold;
    color: $secondary-text;
    text-align: center;
  }

  .stream-box {
    margin: 1rem;
    padding: 1rem;
    border-radius: 6px;
    background-color: #2f2f2f;
    border: 1px solid #444;

    .stream-title {
      color: $realsense-blue;
      text-align: center;
      margin-bottom: 0.5rem;
    }

    .img-container {
      position: relative; // allows absolute positioning for the overlay
      max-width: 100%;
      max-height: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
    }

    img {
      max-width: 90%;
      border: 1px solid #555;
      object-fit: contain;
    }

    // Overlay pinned to top-right
    .metadata-overlay {
      position: absolute;
      top: 0rem;
      left: 2rem;
      background-color: rgba(60, 60, 60, 0.6);  // semi-transparent gray
      color: $primary-text;
      padding: 0.5rem;
      border-radius: 4px;
      font-size: 0.9rem;
      // If you want an optional subtle border:
      // border: 1px solid rgba(255,255,255,0.2);

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}
