@import '../../styles/_variables.scss';


:host {
  /* Force the host component to stretch to full height */
  display: block;
  height: 100%;
}


.viewer-container {
  width: 100%;
  height: 100%;
  background-color: $dark-background; // or #2f2f2f

  ::ng-deep mat-sidenav {
    width: 200px !important; /* or any width you like */
    background: linear-gradient($dark-background, #2a2a2a);
    color: $primary-text;
  }
}

mat-sidenav-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
/* mat-sidenav-container and mat-sidenav-content
   are already set to 100% in global CSS, so no
   partial coverage or white space. */

.sidenav-container {
  width: 90%;
  height: 100%;
}
.overlay {
  position: absolute;
  color: $primary-text;
  /* More styling as needed */
}