@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import './app/styles/variables';

html, body, app-root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $darkest-background;
  color: $primary-text;
  font-family: 'Roboto', sans-serif;
}


::ng-deep .mat-sidenav-content,
::ng-deep .mat-drawer-content,
::ng-deep .mat-typography {
  background-color: $darkest-background !important;
  color: $primary-text !important;
}

// If you see white backgrounds in mat-expansion-panel, mat-select, etc.:
::ng-deep .mat-expansion-panel,
::ng-deep .mat-expansion-panel-header,
::ng-deep .mat-select-panel {
  background-color: $dark-background !important;
  color: $primary-text !important;
}

